@import '../../styles/sass/variables';

.aboutBlockTitle {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;

  & span {
    margin-bottom: 5px;
    display: inline-block;

    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: $primaryColor;
  }

  & h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
    color: $mainTextColor
  }
}






