.skillsBlock {
  padding: 60px 0;

  .skillsContainer {
    justify-content: flex-start;

    .skills {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 20px;
      width: 100%;
      column-gap: 15px;
      @media screen and (max-width: 873px) {
        justify-content: center;
        row-gap: 15px;
        column-gap: 15px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    padding-bottom: 30px;
  }
}



