.aboutBlock {
    padding: 60px 0;
    background-color: #bb78c7;
}

.container {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.aboutBlockTitle {
    text-align: center;
    margin: 0 auto 40px;
    background-color: #cecbcb;
    max-width: 350px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo {
    width: 400px;
    height: 450px;
    background-color: #868585;
}

.aboutMe {
    width: 500px;
    background-color: #cecbcb;
}

.aboutBlockTitle {

}

.list {
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    flex-wrap: wrap;
}

.listUL {
    list-style-type: none;
}