.contactBlock {
    padding: 60px 0;
    background-color: palevioletred;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contactBlockTitle {
    margin: 0 auto 40px;
    text-align: center;
    background-color: #cecbcb;
    max-width: 350px;
}

.formBlock {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 60%;
}

.formBlock input {
    padding: 10px;
}

.formBlock textarea {
    height: 150px;
    resize: none;
    padding: 10px;
}

